{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}

    <h3>Filtrer les villes</h3>
    <div>
        <input id="searchBar" placeholder="villes">
        <input type="submit" value="Rechercher">
    </div>

{% endblock %}
