{% extends "header/headerInscrip.html.twig" %}

{% block main %}
    <h1 class="text-center">Page des mot de passe perdue ou de la raison perdue</h1>

    <p class="text-center"> Cette functionnaliter est un cour d'élaboration</p>

    <div class="text-center">
    <a class="btn btn-danger" href="{{ path('login') }}">Retour</a>
    </div>
{% endblock %}